version: '3'
services:
  minion:
    image: opennms/minion:19.0.1-1
    env_file:
      - .minion.env
    volumes:
        - minion_etc:/opt/minion/etc
        - minion_data:/opt/minion/data
    command: ["-f"]
    ports:
      - "8201:8201"
      - "18980:18980"
      - "162:162/udp"
      - "514:514/udp"
    deploy:
      mode: replicated
      replicas: 1
    healthcheck:
      test: ["CMD", "/opt/minion/bin/client", "-ping", "|", " grep -Pzo", "(?s).*OK.*.OK.*", "|| ", "exit 1"]
      interval: 160m
      timeout: 160m
volumes:
  minion_etc:
    driver: local-persist
    driver_opts:
      mountpoint: "/swarm/volumes/minion_1/etc"
      name: "minion_etc"   
  minion_data:
    driver: local-persist
    driver_opts:
      mountpoint: "/swarm/volumes/minion_1/data"
      name: "minion_data" 
